<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <br>
      <h4 class="mb-4">Edit</h4>

      <%= form_for @venue, html: { multipart: true } do |f| %>
        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: 'form-control' %>
          <% if @venue.errors.has_key?(:name) %>
            <p class="text-danger"><%= @venue.errors[:name].first %></p>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label :address, class: "form-label" %>
          <%= f.text_area :address, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :capacity, class: "form-label" %>
          <%= f.text_field :capacity, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :image, class: "form-label" %>
          <%= f.file_field :image, class: 'form-control-file' %>
        </div>

        <div class="text-center">
          <%= f.submit 'Edit Venue', class: 'btn btn-primary' %>
          <%= link_to "Go Back", venues_path ,  class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
